<!-- Footer Partial Template -->
<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>
            Created By <a href="#">@pkoulianos</a>
            <a href="https://github.com/sakilahmad71">Edited by @sakilahmmad71</a>
            <a href="#"></a>
        </p>
    </div>
</footer>
